<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="co.edu.udea.compumovil.gr02_20172.lab3services">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.Loggin" />
        <activity
            android:name=".Vista.Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Vista.Registro" />
        <activity
            android:name=".Vista.Fragment.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Vista.updatePerfil"></activity>
        <activity android:name=".Vista.AboutActivity" />
    </application>

</manifest>
